body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15.5px;
    background: linear-gradient(to bottom, #a41d11, #040712);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    padding: 0.7em;
    font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
time {
    padding: 0.7em;
    font-size: 1.5em;
    color: whitesmoke;
    
}
.headshot {
    width: 360px;
    height: 420px;
    display: block;
    margin: 5 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
}